div.container{
    position: relative;
    border-radius: 20px;
    left: 300px;
    width: 600px;
    height: 300px;
    background-color:silver;
}
h1{
    background-color: royalblue;
    border-radius: 20px;
    text-indent: 10px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color:seashell
}
p.desc{
    position: relative;
    left: 40px;
    font-size: 20px;
}
input.login{
    position: relative;
    top: 80px;
    left: 500px;
    width: 100px;
    background-color: rgb(56, 88, 185);
    height: 30px;
    color: seashell;
    border-radius: 20px;
    border-width: 1px;
}
label.radio{
    position: relative;
    left: 150px;
}
label.empradio, label.adminradio{
    position: relative;
    left: 64px;
}
