body{
    background-color: rgb(255, 255, 255);
}
header{
    display: flex;
    background-color:rgb(10, 11, 29);
    border-radius: 50px;
}
div.mainCont{
    display: flex;
    margin-top: 10px;
    height: 320px;
}
div.accountSection{
    background-color: rgba(187, 198, 201, 0.589);
    border-radius: inherit;
    height: 200px;
}
div.y{
    background-color: rgba(187, 198, 201, 0.589);
    border-radius: inherit;
}
div.complaintSection{
    background-color: rgba(187, 198, 201, 0.589);
    border-radius: inherit;
    font-family:'Segoe UI', Tahoma, sans-serif; 
}
div.footer{
    display: grid;
    grid-gap: 20px;
    margin-top: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    height: 200px;
    border-radius: 10px;
}
h1{
    font-family:'Segoe UI', Tahoma, sans-serif;
    font-size: 50px;
    color:rgb(10, 11, 29);
    position: relative;
    top: 10px;
    left: 400px;
}
h2{
    margin: 2.2% 0% 0% 0%;
    font-family:'Segoe UI', Tahoma, sans-serif;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}
img.logo{
    padding: 0px 0px 0px 20px;
    width: 100px;
    height: 100px;
}
img.account{
    margin-left: 100px;
    width: 128px;
    height: 128px;
}
img.content{
    position: relative;
    left: 1000px;
    bottom: 50px;
    width: 275px;
    height: 275px; 
}