body{
    background-color: rgb(255, 255, 255);
}
header{
    display: flex;
    background-color:rgb(10, 11, 29);
    border-radius: 50px;
}
div.mainCont{
    display: flex;
    margin-top: 10px;
    height: 320px;
}
div.accountSection{
    background-color: rgba(187, 198, 201, 0.589);
    border-radius: inherit;
    height: inherit;
}
div.faqsection{
    background-color: rgba(187, 198, 201, 0.589);
    border-radius: inherit;
}
div.complaintSection{
    background-color: rgba(187, 198, 201, 0.589);
    border-radius: inherit;
    font-family:'Segoe UI', Tahoma, sans-serif; 
    height: inherit;
}
div.footer{
    display: grid;
    grid-gap: 20px;
    margin-top: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    height: 200px;
    border-radius: 10px;
}
h1{
    font-family:'Segoe UI', Tahoma, sans-serif;
    font-size: 40px;
    color:rgb(10, 11, 29);
    float: right;
    position: relative;
    bottom: 275px;
    left: 425px;

}
p.Description{
    text-align: right;
    position: relative;
    top: 200px;
    height: 40px;
}
h2{
    margin: 2.2% 0% 0% 0%;
    font-family:'Segoe UI', Tahoma, sans-serif;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}
h3{
    margin-left: 12px;
    font-family:'Segoe UI', Tahoma, sans-serif;
    color:rgba(79, 78, 148, 0.74)
}
img.logo{
    padding: 0px 0px 0px 20px;
    width: 100px;
    height: 100px;
}
img.account{
    margin-left: 100px;
    width: 128px;
    height: 128px;
}
img.content{
    position: relative;
    left: 1000px;
    bottom: 50px;
    width: 275px;
    height: 275px; 
}
a.top{
    font-family:'Segoe UI', Tahoma, sans-serif;
    margin: 3% 0% 2% 3%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.top:hover{
    color: rgb(216, 198, 34);
}
button.notification{
    border-radius: 50px;
    border-width: 1px;
    background-color: rgb(70, 203, 255);
    width: 40px;
    height: 40px;
    outline: none;  
}
.notif-num {
    text-indent: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 15px ;
    height: 20px;
    width: 20px;
    position: relative;
    left: 27%;
    top: 20px;
    background: brown;
    border-radius: 50px;
    display: none;
  }
fieldset{
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 88%;
    border-color:rgba(79, 78, 148, 0.74)
}
legend{
    color:rgba(79, 78, 148, 0.74)
}
textarea{
    border-radius: 5px;
    overflow: auto;
    resize: none;
    position: relative;
    bottom: 170px;
    left: 280px;
    width: 350px;
    height: 155px;
} 
.accountLabel{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    position: relative;
    bottom: 30px;
    left: 125px;
}
.accDescrip{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    left: 50px;
    bottom: 40px;
}
a.login{
    float: right;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    position: relative;
    bottom: 40px;
    right: 10px;
}
.r{
    float: left;
}
button.audio{
    position: relative;
    top: 80px;
    right: 80px;
    width: 45px;
    height: 30px;
    border-radius: 50px;
    background-color: seagreen;
    border-width: 1px;
    outline: none;
}
img.icon{
    position: relative;
    bottom: 4px;
}
button.video{
    position: relative;
    top: 80px;
    right: 80px;
    width: 45px;
    height: 30px;
    border-radius: 50px;
    border-width: 1px;
    background-color: steelblue;
    outline: none;
}
#submit{
    border-radius: 5px;
    border-width: 1px;
    height: 30px;
    position: relative;
    right: 190px;
    top: 100px;
    outline: none;
}
#label1{
    font-family:'Segoe UI', Tahoma, sans-serif;
}
#label2{
    font-family:'Segoe UI', Tahoma, sans-serif;
    position: relative;
    top: 30px;
    right: 96px;
}
#label3{
    font-family:'Segoe UI', Tahoma, sans-serif;
    position: relative;
    top: 60px;
    right: 166px;
}
@media(max-width: 500px){
    /* textarea{
        border-radius: 5px;
        overflow: auto;
        text-indent: 10px;
        float: right;
        width: 350px;
        height: 155px;
        resize: none;
    } */
}
.faqlist{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(141, 145, 150);
    position: relative;
    bottom: 10px;
}
.afaq{
    float: right;
}
.dropdown{
    position: relative;
    display: inline-block;
    top: 25px;
    left: 28%;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50px;
    right: 10px;
    z-index: 1;
}
.dropdown-content p{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .notification{
    background-color: #0d2b3f;
}
