<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> About </title>
        <link href="/aboutstyles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <img class="logo" src="images/CMS_Logo.png" />
            <h2> Group Memebrs <hr /></h2>
            <p> <img class="profilepic" src="images/user.png"> Dagmawi Nebiat UGR/16957/11</p>
            <p> <img class="profilepic" src="images/user.png"> Dagmawi Eyob UGR/16956/11 </p>
            <p> <img class="profilepic" src="images/user.png"> Jarensun Zewdie A/UR14809/10 </p>
            <p> <img class="profilepic" src="images/user.png"> Alla Ali UGR/16749/11 </p>
            <p> <img class="profilepic" src="images/user.png"> Suleyman Mohammed UGR/17669/11 </p>
            <footer> &copy; Complaint Management System 2021 </footer>
        </div>
    </body>
</html>